body {
	background-color: #f1f1f1;
	padding: 0 40px 0 40px;
}

.wrapper {
	background: #fff;
	padding: 20px;
	margin-top: 60px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline
}